@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Service Bus Demo</h1>
    <p class="lead">This ASP.net site is an example of sending a service bus message.</p>
    <p><a href="http://msdn.microsoft.com/en-us/library/windowsazure/ee732537.aspx" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Send a message by clicking here
        </p>
        <p><a class="btn btn-default" href="/Home/SendMessage">Send Message &raquo;</a></p>
    </div>
    
</div>